body{
	text-align: center;
}
.table-day {
	border: 2px solid black;
	text-align: center;
}
.table-day th {
	border: 1px solid green;
}
.table-speeches {
	width: 100%;
	border: 2px solid black;
}
.table-speeches th {
	border: 1px solid green;
}
.speech-track {
	width: 80px;
}
.speech-title {
	float: left;
}